.emoji {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 100%;
	left: 0;
	right: 0;
	box-shadow: -1px -1px 69px -10px rgba(255,255,255,0.54);
	padding: 4px;
	border-radius: 48px;
	transition: all 1s;
}

.shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50vh;
	box-shadow: inset 0px 0px 60px 24px rgba(244, 58, 16, 0.6);
	/* box-shadow: inset 0px 0px 60px 24px rgba(255, 224, 80, 0.6); */
	transition: all 1s;
}

.player-header {
	position: absolute;
	top: 0px;
	display: flex;
	font-weight: 700;
	opacity: 0.7;
	width: 100vw;
	justify-content: space-between;
	background: black;
	color: white;
	padding-top: 10px;
	z-index: 100;
	padding-bottom: 10px;
}

.player-header > span:nth-child(1) {
	padding-left: 10px;
}

.player-header > span:nth-child(2) {
	padding-right: 10px;
}
